/*------------------------------------
- COLOR tambahkan
------------------------------------*/

.alert-tambahkan {
    color: #0b5042;
    background-color: #aef3e6;
    border-color: #9cf1e0;
}

.alert-tambahkan hr {
    border-top-color: #85eed9;
}

.alert-tambahkan .alert-link {
    color: #04231d;
}

.badge-tambahkan {
    color: #212529;
    background-color: #1ABC9C;
}

.badge-tambahkan[href]:hover,
.badge-tambahkan[href]:focus {
    color: #212529;
    background-color: #138f76;
}

.bg-tambahkan {
    background-color: #1ABC9C !important;
}

a.bg-tambahkan:hover,
a.bg-tambahkan:focus,
button.bg-tambahkan:hover,
button.bg-tambahkan:focus {
    background-color: #138f76 !important;
}

.border-tambahkan {
    border-color: #1ABC9C !important;
}

.btn-tambahkan {
    color: #212529;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-tambahkan:hover {
    color: #212529;
    background-color: #159c81;
    border-color: #138f76;
}

.btn-tambahkan:focus,
.btn-tambahkan.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
}

.btn-tambahkan.disabled,
.btn-tambahkan:disabled {
    color: #212529;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-tambahkan:not(:disabled):not(.disabled):active,
.btn-tambahkan:not(:disabled):not(.disabled).active,
.show>.btn-tambahkan.dropdown-toggle {
    color: #212529;
    background-color: #138f76;
    border-color: #11816b;
}

.btn-tambahkan:not(:disabled):not(.disabled):active:focus,
.btn-tambahkan:not(:disabled):not(.disabled).active:focus,
.show>.btn-tambahkan.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
}

.btn-outline-tambahkan {
    color: #1ABC9C;
    background-color: transparent;
    border-color: #1ABC9C;
}

.btn-outline-tambahkan:hover {
    color: #212529;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-outline-tambahkan:focus,
.btn-outline-tambahkan.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
}

.btn-outline-tambahkan.disabled,
.btn-outline-tambahkan:disabled {
    color: #1ABC9C;
    background-color: transparent;
}

.btn-outline-tambahkan:not(:disabled):not(.disabled):active,
.btn-outline-tambahkan:not(:disabled):not(.disabled).active,
.show>.btn-outline-tambahkan.dropdown-toggle {
    color: #212529;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-outline-tambahkan:not(:disabled):not(.disabled):active:focus,
.btn-outline-tambahkan:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-tambahkan.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 188, 156, 0.5);
}

.list-group-item-tambahkan {
    color: #0b5042;
    background-color: #9cf1e0;
}

.list-group-item-tambahkan.list-group-item-action:hover,
.list-group-item-tambahkan.list-group-item-action:focus {
    color: #0b5042;
    background-color: #85eed9;
}

.list-group-item-tambahkan.list-group-item-action.active {
    color: #212529;
    background-color: #0b5042;
    border-color: #0b5042;
}

.table-tambahkan,
.table-tambahkan>th,
.table-tambahkan>td {
    background-color: #9cf1e0;
}

.table-hover .table-tambahkan:hover {
    background-color: #85eed9;
}

.table-hover .table-tambahkan:hover>td,
.table-hover .table-tambahkan:hover>th {
    background-color: #85eed9;
}

.text-tambahkan {
    color: #1ABC9C !important;
}

a.text-tambahkan:hover,
a.text-tambahkan:focus {
    color: #138f76 !important;
}