{% extends "base_dashboard" %}

{% load static %}

{% block maincontent %}
	<div class="container pb-3">
    <div class="card border-info mx-3 ">
      <h5 class="card-header bg-info">Informasi</h5>
      <div class="card-body">
        <h5 class="card-title">Selamat Datang Administrator Tes</h5>
        <p class="card-text">ThreeQuiz adalah software berbasis website yang menyediakan layanan ujian daring. Halaman ini adalah halaman depan dari user administrator tes. Di bawah ini menu menu yang disediakan untk admin dalam memanajemen tes.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid putih">
    <div class="row justify-content-center mt-4 mx-4 text-wrap">
      <a href="{% url 'panel_teacher:class_data' %}" class="btn btn-class col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/class.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Class</p>
      </a>
      <a href="{% url 'panel_teacher:stdn_data' %}" class="btn btn-student col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/student.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Student</p>
      </a>
      <a href="{% url 'panel_teacher:course_data' %}" class="btn btn-course col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/course.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Course</p>
      </a>
      <a href="{% url 'panel_teacher:schedule' %}" class="btn btn-schedule col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/schedule.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Schedule</p>
      </a>
    </div>

    <div class="row justify-content-center mt-2 mx-4 text-wrap">
      <a href="{% url 'panel_teacher:quest_data_list' %}" class="btn btn-quiz col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/quiz.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Quiz</p>
      </a>
      <a href="{% url 'panel_teacher:view_res' %}" class="btn btn-activation col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/result.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Quiz Result</p>
      </a>
      <a href="{% url 'panel_teacher:view_eval' %}" class="btn btn-evaluation col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/evaluation.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Evaluation</p>
      </a>
      <a href="{% url 'panel_teacher:my_acc_admin' %}" class="btn btn-account col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/account.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Account</p>
      </a>
    </div>
  </div>



{% endblock maincontent %}