{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style_stdn.css' %}">

    <title>ThreeQuiz | Student</title>
  </head>
  <body style="background-color:#fce3c7" onload="timeLoad()">
   <!-- Mengatur Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color:#ffa94d;">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">
          <img src="{% static 'img/bootstrap-logo.svg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
          ThreeQuiz
        </a>
        <div style="width:100%" class="me-auto d-flex justify-content-center">
          <div class="text-center">UJIAN TELAH DIMULAI. SELAMAT MENGERJAKAN.</div>
        </div>
      </div>
    </nav>

    <div class="text-center p-2 bg-warning d-flex justify-content-center">
      <h6>{{ name }} | &nbsp;</h6>
      <h6 id="time"> </h6>
    </div>

    <!-- Content Utama dalam row dan col ini -->

    <div class="container mt-1 d-flex container-max">
      
      <div>
      <div class="row ms-2 me-2 stdn-side-nav" style="width:200px">
        <div class="col justify-content-center d-flex mb-3">
          <img class="mt-5 rounded-circle" width="100px" height="100px" src="{{ profile }}">
        </div>
        
      </div>

      <div class="row ms-2 me-2 stdn-side-nav" style="width:200px">
        <div class="col justify-content-center d-flex">
          {% if text_quest.has_other_pages %}

              <ul class="pagination">
                
                {% if text_quest.has_previous %}
                <li class="page-item me-2">
                  <a class="page-link" href="?page={{ text_quest.previous_page_number }}">Prev</a>
                </li>
                {% else %}
                <li class="page-item disabled me-2">
                  <a class="page-link" href="">Prev</a>
                </li>
                {% endif %}

                {% if text_quest.has_next %}
                  <li class="page-item ms-2">
                     <a class="page-link" href="?page={{ text_quest.next_page_number }}">Next</a>
                   </li>
                {% else %}
                  <li class="page-item disabled ms-2">
                    <a class="page-link" href="">Next</a>
                  </li>
                {% endif %}

              </ul>

          {% endif %}
        </div>
      </div>

      <div class="row ms-2 me-2 stdn-side-nav" style="width:200px">
        <div class="col justify-content-center d-flex">
          {% if text_quest.has_other_pages %}

              <ul class="pagination" style="flex-wrap:wrap;">

                {% for x in text_quest.paginator.page_range %}
                  {% if text_quest.number == x %}
                  <li class="page-item active">
                    <a class="page-link" href="?page={{ x }}">{{ x }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ x }}">{{ x }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
              
              </ul>

          {% endif %}
        </div>
      </div>

      </div>

      {% block leftcontent %}
        
      {% endblock leftcontent %}

      <div class="row  overflow ms-2 me-2">
        <div class="col-9 p-3 bg-light quest-block" style="max-width:unset;">
          {% block maincontent %}
            
          {% endblock maincontent %}
        </div>
        <div class="col">
          {% block rightcontent %}
            
          {% endblock rightcontent %}
        </div>
      </div>

    </div>

    
    <script src="{% static 'script/time.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"⁄⁄></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
