{% extends "dashboard_base.html" %}

{% load static %}

{% block maincontent %}

	 <div class="container container-fluid">
      <div class="card">
        <h5 class="card-header bg-info">Informasi</h5>
        <div class="card-body">
          <h5 class="card-title">Selamat Datang Peserta Tes</h5>
          <p class="card-text">ThreeQuiz adalah software berbasis website yang menyediakan layanan ujian daring. Halaman ini adalah halaman depan dari user siswa atau peserta tes. Di bawah ini menu menu yang disediakan untk peserta tes..</p>
        </div>
      </div>
    </div>

  <div class="container-fluid putih">
    <div class="row justify-content-center mt-4 mx-4 text-wrap">
      <a href="{% url 'schedule' %}" class="btn btn-class col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/course.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Course</p>
      </a>
      <a href="{% url 's_test' %}" class="btn btn-dashboard col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/quiz.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Start Test</p>
      </a>
      <a href="{% url 'v_val' %}" class="btn btn-activation col-2 mx-1 kotak text-truncate">
        <img src="{%static 'img/result.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Quiz Result</p>
      </a>
      <div class="w-100"></div>
      <a href="{% url 'eval' %}" class="btn btn-evaluation col-2 mx-1 kotak text-truncate mt-2">
        <img src="{%static 'img/evaluation.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Evaluation</p>
      </a>
      <a href="{% url 'my_acc' %}" class="btn btn-account col-2 mx-1 kotak text-truncate mt-2">
        <img src="{%static 'img/account.png'%}" class="img-fluid">
        <p class="text-center text-break" style="font-size: 2vw;">Account</p>
      </a>
    </div>
  </div>
	
{% endblock maincontent %}