{% extends "student_page_base.html" %}

{% load static %}

{% block maincontent %}

<div class="card mt-5">
  <div class="card-header bg-danger text-light">
    Mulai Tes / Ujian
  </div>
  <div class="card-body">
    <h5 class="card-title">Halaman Memulai Tes / Ujian</h5>
    <p class="card-text">Sebelum memulai tes, pahami dengan saksama aturan pengerjaan di bawah ini : <br>
    	1. Periksa dan ambil TOKEN mapel di halaman daftar jadwal<br>
    	2. Pastikan TOKEN mapel yang diambil berstatus aktif / active<br>
      3. Kerjakan soal pada tanggal dan jam sesuai jadwal <br>
      4. Pengerjaan soal diluar batas akhir, tidak akan bisa diterima <br>
      5. Soal hanya bisa dikerjakan satu kali <br>
      6. Pointer/ panah dilarang keluar area halaman ujian <br>
      7. Diberi kesempatan keluar halaman ujian (pointernya) hanya 3 kali <br>
      8. Jawaban terkirim otomatis jika waktu habis, atau keluar halaman lebih dari 3 kali <br>
      9. Lakukan refresh dengan tombol CTRL + R jika ada masalah gambar / media play (jika ada) tidak tampil <br>
      10. Wajib mengisi survey pasca ujian</p>
   
  </div>
</div>

<div class="text-center mt-5">
  <h3 class="text-danger">{{ inf }}</h3>
</div>

<form method="post" class="row g-3 mt-5 justify-content-center">
  {% csrf_token %}
  <div class="col-auto">
    <label for="inputPassword2" >Token Tes / Ujian</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" id="inputPassword2" name="token" placeholder="Token">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" name="start-test">Mulai Tes / Ujian</button>
  </div>
</form>

    <script type="text/javascript">
      console.log('Ini halaman mulai test');
    </script>   
    <script src="{% static 'script/replace_history.js' %}"></script> 
   
    
	
{% endblock maincontent %}