{% extends "base_admin.html" %}

{% block maincontent %}

    <main class="page-content pt-2">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid p-5">
            <h1>Daftar Soal</h1>
            <div class="dropdown-divider"></div>
                <!-- Upload -->
            <section><div class="card border-success mb-3" style="max-width: 700px;">
                <div class="card-header bg-success">
                    Template.xls
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-start">
                        <div class="col-3 col-sm-3">
                            <img class="img-fluid" style="min-height: 25px; min-width: 25px; max-height: 100px;" src="https://play-lh.googleusercontent.com/37EzETO6gZyKmCg2kBIFX1e9gkubxZrVa5fHJ6yOaa7VvEShHjKv2RdtwnZt9Sk258s" alt="">
                        </div>
                        <div class="col-9 align-self-center">
                            <p class="text-center align-text-middle">
                                Silahkan Download template dibawah untuk membuat soal
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    Download : 
                    <a href="/media/test.xls" type="button" class="btn btn-warning"> <i class="fas fa-cloud-download-alt"></i> Unduh</a>
                </div>
            </div>
        </section>
        <section>

        <!-- 2nd Card -->
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col-md-9 align-self-center">
                            Daftar Soal
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_quest_data">
                              Tambah Soal
                            </button>
                            <button class="btn btn-info" style="margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#add_quest_data_2">Import Soal (xls file)</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9 align-self-center">
                            Show
                            <select class="form-select" aria-label="Default select" name="" id="">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="all">All</option>
                            </select>
                            Entries
                        </div>
                        <div class="row" style="margin-bottom: 25px;">
                            <label for="colFormLabel" class="col-form-label">Search : </label>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="Search">
                            </div>
                        </div>
                    </div>
                        <!-- Table -->
                    <div class="row table-responsive-sm">
                        <table class="table table-bordered table-striped table-hover justify-content-center align-middle text-center">
                            <thead>
                                <tr>
                                    <th scope="col">File Soal</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Edit soal</th>
                                    <th scope="col">Unduh/Hapus</th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for view in data %}
                                    
                                <tr class="align-middle">
                                    <td>{{ view.1 }}</td>
                                    <td>{{ view.3 }}</td>
                                    <td>{{ view.2 }}</td>
                                    <td>
                                        <a class="btn btn-warning" href="?id={{ view.0 }}">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </a>
                                        <a class="btn btn-primary" href="/panel/edit_quest?id={{ view.0 }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-light" href="/media/{{ view.1 }}">
                                            <i class="fas fa-print"></i>
                                        </a>
                                        <a class="btn btn-danger" href="?del={{ view.0 }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        <!--End Table-->
                        <div class="row justify-content-between">
                            <div class="col-auto me-auto align-middle" style="margin-top: 10px;">
                                Showing 1 to 3 of 3 entries
                            </div>
                            <div>
                                <div class="col-auto">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group me-2" role="group" aria-label="First group">
                                          <button type="button" class="btn btn-outline-primary">Prev</button>
                                          <button type="button" class="btn btn-primary">1</button>
                                          <button type="button" class="btn btn-primary">2</button>
                                          <button type="button" class="btn btn-primary">3</button>
                                          <button type="button" class="btn btn-outline-primary">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Card Footer-->
                <div class="card-footer">
                    <p>Beberapa ujian (untuk kelas dan jurusan berbeda) bisa disetting bersamaan</p>
                    <p>Apabila satu kelas ada beberapa Tes bersamaan (untuk kelas dan jurusan yang sama). akan mengakibatkan peserta tidak dapat mengikuti ujian</p>
                    <p>Daftar diatas merupakan paket soal yang sudah diaktifkan oleh guru. Silahkan melakukan pengaturan jadwal ujian</p>
                </div>
                    
            </div>
        </section>
    </div>
</main>

<!-- Modal add quest manual-->
<div class="modal fade" id="add_quest_data" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_quest_data" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_quest_data">Tambah Soal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
      <div class="modal-body">
        <div class="mb-3">
          <label for="tch" class="form-label">Guru</label>
          <select class="form-select" id="tch" name="tch_id" aria-label="Default select example" required>
              {% for ls in slc_tch %}
                  <option value="{{ ls.0 }}">{{ ls.1 }}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="mb-3">
          <label for="mapel" class="form-label">Mapel</label>
          <select class="form-select" id="mapel" name="mapel" aria-label="Default select example" required="">
                {% for lsc in slc_crs %}
                    <option value="{{ lsc.0 }}">{{ lsc.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="id_admin" value="{{ id_admin }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="add" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add quest otomatis-->
<div class="modal fade" id="add_quest_data_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_quest_data_2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_quest_data_2">Tambah Soal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="modal-body">
        <div class="mb-3">
          <label for="tch" class="form-label">Guru</label>
          <select class="form-select" id="tch" name="tch_id" aria-label="Default select example" required>
              {% for ls in slc_tch %}
                  <option value="{{ ls.0 }}">{{ ls.1 }}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="mb-3">
          <label for="mapel" class="form-label">Mapel</label>
          <select class="form-select" id="mapel" name="mapel" aria-label="Default select example" required="">
                {% for lsc in slc_crs %}
                    <option value="{{ lsc.0 }}">{{ lsc.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="id_admin" value="{{ id_admin }}">
        <div class="mb-3">
          <label for="formFile" class="form-label">Input File XLS</label>
          <input class="form-control" type="file" name="xls" accept=".xls" id="formFile" required>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Input Gambar Soal (Bisa multiple)</label>
          <input class="form-control" type="file" id="formFileMultiple" name="img" accept="img/*" multiple>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="add_auto" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
    
{% endblock maincontent %}