{% extends "base_admin" %}

{% load static %}

{% block title %}
<h1>Daftar Soal</h1>
{% endblock title %}

    <div class="dropdown-divider"></div>
    <!-- Upload -->
    <section>
      {% block card %}
        <div class="card-header bg-success">
          Template.xls
        </div>
        <div class="card-body">
          <div class="row justify-content-center align-items-start">
            <div class="col-3 col-sm-3">
              <img class="img-fluid" style="min-height: 25px; min-width: 25px; max-height: 100px;"
                src="https://play-lh.googleusercontent.com/37EzETO6gZyKmCg2kBIFX1e9gkubxZrVa5fHJ6yOaa7VvEShHjKv2RdtwnZt9Sk258s"
                alt="">
            </div>
            <div class="col-9 align-self-center">
              <p class="text-center align-text-middle">
                Silahkan Download template dibawah untuk membuat soal
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          Download :
          <a href="/media/test.xls" type="button" class="btn btn-warning"> <i class="fas fa-cloud-download-alt"></i>
            Unduh</a>
        </div>
      {% endblock card %}
    </section>
    <section>
      
      <!-- 2nd Card -->
      
      {% block topButton %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_quest_data">
        Tambah Soal
      </button>
      <button class="btn btn-info" style="margin-right: 10px;" data-bs-toggle="modal"
      data-bs-target="#add_quest_data_2">Import Soal (xls file)</button>
      {% endblock topButton %}
  
            {% block search %}
              <div class="col-auto">
                <input type="text" class="form-control me-1" id="Search1" placeholder="Berdasar nama soal">
              </div>
              <div class="col-auto">
                <input type="text" class="form-control me-1" id="Search2" placeholder="Berdasar nama mapel">
              </div>
              <div class="col-auto">
                <input type="text" class="form-control me-1" id="Search3" placeholder="Berdasar nama Guru">
              </div>
            {% endblock search %}
            

          <!-- Table -->
          {% block table %}
              <thead>
                <tr>
                  <th scope="col">File Soal</th>
                  <th scope="col">Mata Pelajaran</th>
                  <th scope="col">Pengajar</th>
                  <th scope="col">Kelas</th>
                  <th scope="col">Edit soal</th>
                  <th scope="col">Unduh/Hapus</th>
                </tr>
              </thead>
              <tbody id="table_data">
                {% for view in data %}

                <tr class="align-middle">
                  <td>{{ view.1 }}</td>
                  <td>{{ view.3 }}</td>
                  <td>{{ view.2 }}</td>
                  <td>{{ view.4 }}</td>
                  <td>
                    <button class="btn btn-warning" data-bs-toggle="modal"
                      data-bs-target="#edit_quest_data{{ view.0 }}">
                      <i class="fas fa-cloud-upload-alt"></i>
                    </button>

                    <!-- Modal update quest otomatis-->
                    <div class="modal fade" id="edit_quest_data{{ view.0 }}" data-bs-backdrop="static"
                      data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_quest_data{{ view.0 }}"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="edit_quest_data{{ view.0 }}">Update Soal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                              <input type="hidden" name="name_data" value="{{ view.1 }}">
                              <div class="mb-3">
                                <label for="formFile" class="form-label">Input File XLS</label>
                                <input class="form-control" type="file" name="xls" accept=".xls" id="formFile" required>
                              </div>
                              <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Input Gambar Soal (Bisa
                                  multiple)</label>
                                <input class="form-control" type="file" id="formFileMultiple" name="img" accept="img/*"
                                  multiple>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" name="edit_auto" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <a class="btn btn-primary" href="/panel/quest_data?id={{ view.0 }}">
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-light" href="/media/{{ view.1 }}">
                      <i class="fas fa-print"></i>
                    </a>
                    <a class="btn btn-danger" href="?del={{ view.0 }}"
                      onclick="return confirm('Yakin ingin menghhapus soal {{ view.1 }} ?');">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
              {% endblock table %}
              


        <!--Card Footer-->
        {% block footer %}
        <div class="card-footer">
          <p>Beberapa ujian (untuk kelas dan jurusan berbeda) bisa disetting bersamaan</p>
          <p>Apabila satu kelas ada beberapa Tes bersamaan (untuk kelas dan jurusan yang sama). akan mengakibatkan
            peserta tidak dapat mengikuti ujian</p>
          <p>Daftar diatas merupakan paket soal yang sudah diaktifkan oleh guru. Silahkan melakukan pengaturan jadwal
            ujian</p>
        </div>
            {% endblock footer %}

              {% block maincontent %}
<!-- Modal add quest manual-->
<div class="modal fade" id="add_quest_data" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="add_quest_data" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_quest_data">Tambah Soal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">

          <div class="mb-3">
            <label for="mapel" class="form-label">Mapel</label>
            <select class="form-select" id="mapel" name="mapel" aria-label="Default select example" required="">
              {% for lsc in slc_crs %}
              <option value="{{ lsc.0 }}">{{ lsc.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="cls" class="form-label">Kelas</label>
            <select class="form-select" id="cls" name="id_class" aria-label="Default select example" required="">
              {% for lsc in slc_cls %}
              <option value="{{ lsc.0 }}">{{ lsc.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="hidden" name="id_admin" value="{{ id_admin }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="add" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal add quest otomatis-->
<div class="modal fade" id="add_quest_data_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="add_quest_data_2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_quest_data_2">Tambah Soal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">

          <div class="mb-3">
            <label for="mapel" class="form-label">Mapel</label>
            <select class="form-select" id="mapel" name="mapel" aria-label="Default select example" required="">
              {% for lsc in slc_crs %}
              <option value="{{ lsc.0 }}">{{ lsc.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="cls" class="form-label">Kelas</label>
            <select class="form-select" id="cls" name="id_class" aria-label="Default select example" required="">
              {% for lsc in slc_cls %}
              <option value="{{ lsc.0 }}">{{ lsc.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="hidden" name="id_admin" value="{{ id_admin }}">
          <div class="mb-3">
            <label for="formFile" class="form-label">Input File XLS</label>
            <input class="form-control" type="file" name="xls" accept=".xls" id="formFile" required>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Input Gambar Soal (Bisa multiple)</label>
            <input class="form-control" type="file" id="formFileMultiple" name="img" accept="img/*" multiple>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="add_auto" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'script/paginate.js' %}"></script>
<script src="{% static 'script/live_search_main.js' %}"></script>
<script src="{% static 'script/live_search.js' %}"></script>

{% endblock maincontent %}