{% extends "base_admin" %}

{% load static %}

{% block title %}
<h1 class="mb-3">Hasil Test</h1>
{% endblock title %}

{% block card %}
    <div class="card-header bg-success">
        Petunjuk
    </div>
    <div class="card-body">
        <div class="row justify-content-center align-items-start">
            <div class="col-9 align-self-center">
                <p class="text-center align-text-middle">
                    halaman ini adalah ....
                </p>
            </div>
        </div>
    </div>
{% endblock card %}


{% block topButton %}
{% endblock topButton %}


{% block search %}
                <div class="col-auto">
                    <input type="text" class="form-control me-1" id="Search1" placeholder="Berdasar tanggal ujian">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control me-1" id="Search2" placeholder="Berdasar ID siswa">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control me-1" id="Search3" placeholder="Berdasar mapel">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control me-1" id="Search4" placeholder="Berdasar kelas">
                </div>
{% endblock search %}

            {% if msg == '' %}
            <p class="text-danger">{{ msg }}</p>
            {% endif %}
      
{% block table %}
        <thead>
            <tr>
                <th scope="col">Tanggal</th>
                <th scope="col">ID Siswa</th>
                <th scope="col">Siswa</th>
                <th scope="col">ID Guru</th>
                <th scope="col">Guru</th>
                <th scope="col">Mapel</th>
                <th scope="col">Kelas</th>
                <th scope="col">Status</th>
                <th scope="col">Token</th>
                <th scope="col">Nilai</th>
                <th scope="col">Aksi</th>

            </tr>
        </thead>
        <tbody id="table_data">
            {% for view in list_res %}
            <tr>
                <td>{{ view.0 }}</td>
                <td>{{ view.1 }}</td>
                <td>{{ view.2 }}</td>
                <td>{{ view.3 }}</td>
                <td>{{ view.4 }}</td>
                <td>{{ view.5 }}</td>
                <td>{{ view.10 }}</td>
                <td>{{ view.6 }}</td>
                <td>{{ view.7 }}</td>
                <td>{{ view.8 }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="{{ view.9 }}">
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Yakin ingin menghhapus jawaban tanggal {{ view.0 }} ?');"
                            name="delete_btn">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endblock table %}
        
{% block maincontent %}      

<div class="row justify-content-between">
    <div class="col-auto me-auto align-middle" style="margin-top: 10px;" id="inf">

    </div>
    <div>
        <div class="col-auto">
            <div class="btn-toolbar" id="pagination">
                <div class="btn-group me-2">
                    <!-- Disisi oleh JS pembuatan paginatioan button -->
                </div>
            </div>
        </div>
    </div>
</div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'script/paginate.js' %}"></script>
<script src="{% static 'script/live_search_main.js' %}"></script>
<script src="{% static 'script/search_test_result.js' %}"></script>
{% endblock maincontent %}